body {
  padding-top: 50px;
}
.col-md-4{
  padding-bottom: 15px;
}
.author{
  font-weight: bold;
}
img{
  width: 50%;
  float: right;
  padding-left: 10px;
}
.description{
  overflow: hidden;
}
.spacer{
  content: "";
  clear: both;
}
.modal-body {
  overflow: hidden;
}
.video_iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video_iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

